<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' http://localhost:3000/ 'unsafe-eval' ws:;
  style-src 'self' 'unsafe-inline';
  script-src 'self' http://localhost:4200 'unsafe-inline' 'unsafe-eval';">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <title>Atmosphere Play Chat</title>
        @*<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.js"></script>*@

            <!-- Atmosphere -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        @*<script type="text/javascript" src="https://rawgithub.com/Atmosphere/atmosphere-javascript/master/modules/javascript/src/main/webapp/javascript/atmosphere.js"></script>*@
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/atmosphere.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/chat.js")" type="text/javascript"></script>
            <!-- Application -->

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/chat.css")">

    </head>
    <body>
        <div id="header"><h3>Atmosphere Chat. Default transport is WebSocket, fallback is long-polling</h3></div>
        <div id="content"></div>
        <div>
            <span id="status">Connecting...</span>
            <input type="text" id="input" disabled="disabled"/>
        </div>

    </body>
</html>
